node_modules
_logs

package-lock.json
.npmrc
npm-debug.log
.lock-wscript
config.gypi

.DS_Store

TEST_GEN/
ZIPs/
REF/
out/
.history/

*.vsix
*.zip
*.lst


*-REF*
*-NEW*
regex-workspace.txt
alias.sh
spin2/TEST/_OLD/
spin2/TEST/spin/f1.txt
spin2/TEST/JAYS_PORT/
spin2/TEST/MCP_PORT/
