node_modules
_logs

package-lock.json
.npmrc
npm-debug.log
.lock-wscript
config.gypi

.DS_Store
*.REF
*.txt

TEST_GEN/
ZIPs/
REF/
src/HOLD/
out/
.history/

*.vsix
*.zip
*.lst


*-REF*
*.REF*
*-NEW*
regex-workspace.txt
alias.sh
spin2/TEST/_OLD/
spin2/TEST/spin/f1.txt
spin2/TEST/JAYS_PORT/
spin2/TEST/MCP_PORT/
spin2/TEST/PORT_DEMO/

