*
*/**
.DS_Store
syntaxes/*
themes/*
REF/*
TEST/*
!out/*
!syntaxes/spin2.tmLanguage.json
!spin2.language-configuration.json
!syntaxes/spin1.tmLanguage.json
!spin1.language-configuration.json
!themes/isp-spin-dark-theme.json
!themes/isp-spin-light-theme.json
!themes/isp-spin-dark-bg-theme.json
!themes/isp-spin-light-bg-theme.json
!themes/isp-spin-syntax-theme.json
!themes/isp-spin-dark-theme-old.json
!package.json
!README.md
!CHANGELOG.md
!LICENSE
!copyright
!images/*
!themes/*
